$yellow-50: #FFFDE7
$yellow-100: #FFF9C4
$yellow-200: #FFF59D
$yellow-300: #FFF176
$yellow-400: #FFEE58
$yellow-500: #FFEB3B
$yellow-600: #FDD835
$yellow-700: #FBC02D
$yellow-800: #F9A825
$yellow-900: #F57F17
$grey-50: #FAFAFA
$grey-100: #F5F5F5
$grey-200: #EEEEEE
$grey-300: #E0E0E0
$grey-400: #BDBDBD
$grey-500: #9E9E9E
$grey-600: #757575
$grey-700: #616161
$grey-800: #424242
$grey-900: #212121
