@mixin vertical-align
  > *
    display: inline-block
    vertical-align: middle
  &:before
    content: ''
    display: inline-block
    width: 0
    height: 100%
    vertical-align: middle

@mixin title-style
  > div.title-wrapper
    height: 50pt
    > h1.title
      margin: 0
      padding-left: 20pt
      font-size: 36pt
      letter-spacing: .7pt
      color: white
      font-family: $base-font-family
      line-height: 50pt
      border-left: 10pt solid $yellow-500

@mixin triangle($direction, $size, $height, $color: $yellow-500)
  @if $direction == 'left'
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-right: $height solid $color
  @else if $direction == 'right'
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-left: $height solid $color
  @else if $direction == 'top'
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-bottom: $height solid $color
  @else
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-top: $height solid $color
