p
  font: lighter 12pt/16pt $default-font-family
  color: white

  &.description
    margin: 6pt 0
  &.date
    text-align: right
    font: 10pt/12pt $base-font-family

a.website, a.contribution-link
  display: block
  text-decoration: none
  font: 10pt/16pt $default-font-family
  > span.url, > span.content, > img.icon
    vertical-align: middle
  > span.url, > span.content
    margin-left: 6pt

  + a
    margin-top: 5pt

a.website, a.website:visited,
a.contribution-link, a.contribution-link:visited
  color: $yellow-500
a.website:hover > span.url,
a.contribution-link:hover > span.content
  text-decoration: underline
  color: white

.project-info:hover > .ribbon-wrapper
  opacity: 0
  transition: .25s

@media screen and (max-width: 768px)
  .project-info > .ribbon-wrapper
    display: none
